<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SolidWorks.Interop.sldworks" publicKeyToken="7c4797c3e4eeac03" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-26.4.0.75" newVersion="26.4.0.75" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SolidWorks.Interop.swconst" publicKeyToken="19f43e188e4269d8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-26.4.0.75" newVersion="26.4.0.75" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>